.itemOuter {
	display: flex;
	margin: 20px;
	 min-height: max-content;
}
.contentLeft {
	height: auto;
}
.contentRight {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
}
.logoImg {
	margin-top: 20px;
	margin-bottom: 20px;
	align-self: center;
}
.titleText {
}
.titleHeadExp{
	margin-top: 100px;
	margin-bottom: 50px;
}
.paragraph {
	margin-left: 0px;
}
.subTitle {
	text-decoration: underline;
}